.recipe-item > img {
    max-width: 300px;
}

.recipe-item {
    display: inline-block;
    margin: 15px 10px;
    overflow: hidden;
}
.recipe-item > p {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: #fff;
    height: 100%;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    font-weight: 700;
}
.recipe-item {
    display: inline-block;
    margin: 15px;
    position: relative;
    vertical-align: top;
    height: 170px;
}
.recipe-detail img {
    max-width: 200px;
    margin: 0 auto 20px;
    display: block;
}
p.title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.recipe-detail {
    font-size: 15px;
    border: 1px solid;
    max-width: 500px;
    margin: 20px auto;
    padding: 15px 30px;
}
.recipe-list {
    text-align: center;
}
.ingr-detail {
    padding-left: 25px;
    font-size: 14px;
    margin-bottom: 10px;
}

.special-text > p {
    font-size: 12px;
    padding-left: 10px;
    margin: 0;
    display: inline-block;
}
.special-text > p p{
    display: inline-block;
}
.ingr-detail p {
    margin-bottom: 5px;
}
.ingr-detail li {
    font-size: 12px;
}